<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" height="50px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navbar %}
        {% if item.options %}
        <li class="nav-item dropdown">
          {% capture menulink %}
          navbarDropdownMenuLink{{ item.name }}
          {% endcapture %}
          <a class="nav-link dropdown-toggle" href="#" id="{{ menulink }}" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ item.name }}
          </a>
          <div class="dropdown-menu shadow-4" aria-labelledby="{{ menulink }}">
            {% for option in item.options %}
            <a class="dropdown-item" href="{{ option.link }}">{{ option.name }}</a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>