<div class="container" data-aos="fade">
  <div class="row no-gutters">
    
    <div class="col-md-4">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container pl-0">
          <h1 class="font-secondary">Welcome to the oldest democratically-elected student government in Canada.</h1>
          <a class="btn btn-primary btn-lg" href="{{ '/about/council' | relative_url }}" role="button"><strong>MEET THE COUNCIL</strong></a>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      
      <img src="{{ '/assets/images/University_College_University_of_Toronto.jpg' | relative_url }}" class="shadow-6 img-fluid" alt="University College East Wing">
      
    </div>
  </div>
</div>
