<!-- only show this div on screens size md and up -->
<div class="d-none d-md-block jumbotron jumbotron-fluid" id="large-jumbotron">
  <div class="container">
    <div id="relative-container" class="row">
      <img  id="uoft" src="/assets/images/University_College_University_of_Toronto.jpg" class="shadow-6">
      <div class="col-lg-8 background-box">
        <h1 class="mt-5"><span>{{ include.subtitle }}</span></h1>
        <p class="mt-3">We have donuts.</p>
        <button type="button" class="btn btn-primary mt-3 ml-5 shadow-6" id="big-button">Big Button</button>
      </div>
    </div>
  </div>
</div>
<!-- only show this div on screens size sm and down -->
<div class="d-md-none jumbotron jumbotron-fluid sm" id="small-jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="mt-5"><span>{{ include.subtitle }}<span></h1>
      <button type="button" class="btn btn-primary mt-3 ml-5" id="big-button">Primary</button>
    </div>
  </div>
</div>