---
layout: default
title: Budgets and Documents
---
<h1 class="font-secondary mb-3" data-aos="fade">Budgets and Documents</h1>
{% for item in site.data.documents %}
<div data-aos="fade-{% cycle 'right', 'left' %}">
<h3 class="font-secondary text-primary">{{ item.heading }}</h3>
<p>{{ item.text }}</p>
<div class="mb-2">
{% for document in item.budgets-documents %}
<a class="btn btn-primary" href="{{ document.link | relative_url }}" target="_blank"><strong>{{ document.text }}</strong></a>
{% endfor %}
</div>
{% if forloop.last == false %}
<hr class="my-3" />
{% endif %}
</div>
{% endfor %}
