---
layout: default
title: The Council
---
<div class="row my-3">
  <div class="col">
    <h1 class="font-secondary" data-aos="fade">Meet your 2023-2024 Council!</h1>
  </div>
</div>
<div class="row" data-aos="fade-up">
  <div class="col-md-3 mb-3">
    <div class="nav flex-column nav-pills rounded bg-white" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for class in site.data.council %}
      {% assign slug = class.group | slugify %}
      <a class="nav-link {% if forloop.first == true %}active{% endif %}" id="{{ slug }}-tab" data-toggle="pill" href="#{{ slug }}" role="tab"
        aria-controls="{{ slug }}" aria-selected="{% if forloop.first == true %}true{% else %}false{% endif %}">{{ class.group }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="v-pills-tabContent">
      {% for class in site.data.council %}
      {% assign slug = class.group | slugify %}
      <div class="tab-pane fade {% if forloop.first == true %}show active{% endif %}" id="{{ slug }}" role="tabpanel" aria-labelledby="{{ slug }}-tab">
        <div class="container">
          <div class="row">
            {% for person in class.people %}
            <div class="col-md-4 mb-3">
              <div class="card shadow">
                <img src="{{ person.image | relative_url }}" class="card-img-top bg-primary" alt="{{ person.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ person.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ person.role }}</h6>
                  {% if person.pronouns %}<p class="card-text"><i class="fas fa-tag"></i> {{ person.pronouns }} </p>{% endif%}
                  <p class="card-text"><i class="fas fa-map-marked-alt"></i> {{ person.from }} </p>
                  <p class="card-text"><i class="fas fa-graduation-cap"></i> {{ person.major }} </p>
                  {% if person.favourite-part-about-uc %}<p class="card-text"><b>Favourite Part About UC:</b> {{ person.favourite-part-about-uc }}</p>{% endif%}
                  {% if person.favourite-quote %}<p class="card-text" style="white-space: pre-wrap;"><b>Favourite Quote:</b> {{ person.favourite-quote }}</p>{% endif%}
                  {% if person.office-hours %}<p class="card-text"><b>Office Hours:</b> {{ person.office-hours }}</p>{% endif%}
                </div>
                <div class="card-footer bg-white border-top-0"><a href="mailto:{{ person.email }}">{{ person.email }}</a></div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
      </div> -->
    </div>
  </div>
</div>
